
.contenido{
   
    width: 100%;
    height: 200px;
    background-image: url("../../../assets/images/image-web-3-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenido-texto{
    text-align: justify;
}
.contenido-texto p{
    color: rgb(181, 176, 176);
}
.contenido-texto button{
    width: 150px;
    color: white;
    background: rgb(3, 3, 40);
    border: 0;
    padding: 10px;
}
.contenido-texto button:hover{
    background-color: rgb(223, 8, 8);
}


@media(min-width:572px){
    .contenido{
        background-image: url("../../../assets/images/image-web-3-desktop.jpg");
        height: 300px;
    }
    .contenido-texto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }
}

