<!--Desafio MM17113- LUIS MARTINEZ-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="contenedor">
    <div class="encabezado">
        <app-menu></app-menu>
    </div>
    <div class="cuerpo">
        <app-cuerpo></app-cuerpo>
    </div>
    <div class="barra">
        <app-barra></app-barra>
    </div>
    <div class="pie">
        <app-footer></app-footer>
    </div>
    
   </div> 
</body>
</html>

