<div class="pie">
    <div class="pie-contenido">
      <div class="pie-img">
        <img src="../../../assets/images/image-retro-pcs.jpg" alt="" srcset="">
      </div>
      <div class="pie-detalle">
        <h1>01</h1>
        <h2>Reviving Retro PCs</h2>
        <p>What happens when old image-retro-pcs
          are given modern upgrades?</p>
      </div>
    </div>
    <div class="pie-contenido">
      <div class="pie-img">
        <img src="../../../assets/images/image-top-laptops.jpg" alt="" srcset="">
      </div>
      <div class="pie-detalle">
        <h1>02</h1>
        <h2>Top 10 Laptops of 2022</h2>
        <p>Our best picks for various
          needs and budgets
        </p>
      </div>
    </div>
    <div class="pie-contenido">
      <div class="pie-img">
        <img src="../../../assets/images/image-gaming-growth.jpg" alt="" srcset="">
      </div>
      <div class="pie-detalle">
        <h1>03</h1>
        <h2>The Growth of Gaming</h2>
        <p>How the pandemic has sparked
          fresh opportunities
        </p>
      </div>
    </div>
  </div>
